=begin
CloudBoost Application API

Power your web or mobile application backend with cloudboost Database Service

OpenAPI spec version: 1.0.0
Contact: ben@cloudboost.io
Generated by: https://github.com/swagger-api/swagger-codegen.git

License: MIT
http://opensource.org/licenses/MIT

Terms of Service: https://cloudboost.io

=end

require "uri"

module SwaggerClient
  class CloudTableApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # delete a cloud table
    # @param table_name name of cloud table
    # @param app_id cloud app id
    # @param body master key and app id
    # @param [Hash] opts the optional parameters
    # @return [CloudTable]
    def delete_table(table_name, app_id, body, opts = {})
      data, status_code, headers = delete_table_with_http_info(table_name, app_id, body, opts)
      return data
    end

    # 
    # delete a cloud table
    # @param table_name name of cloud table
    # @param app_id cloud app id
    # @param body master key and app id
    # @param [Hash] opts the optional parameters
    # @return [Array<(CloudTable, Fixnum, Hash)>] CloudTable data, response status code and response headers
    def delete_table_with_http_info(table_name, app_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CloudTableApi#delete_table ..."
      end
      
      # verify the required parameter 'table_name' is set
      fail "Missing the required parameter 'table_name' when calling delete_table" if table_name.nil?
      
      # verify the required parameter 'app_id' is set
      fail "Missing the required parameter 'app_id' when calling delete_table" if app_id.nil?
      
      # verify the required parameter 'body' is set
      fail "Missing the required parameter 'body' when calling delete_table" if body.nil?
      
      # resource path
      local_var_path = "app/{app_id}/{table_name}".sub('{format}','json').sub('{' + 'table_name' + '}', table_name.to_s).sub('{' + 'app_id' + '}', app_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      _header_accept = ['application/json']
      _header_accept_result = @api_client.select_header_accept(_header_accept) and header_params['Accept'] = _header_accept_result

      # HTTP header 'Content-Type'
      _header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CloudTable')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudTableApi#delete_table\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # get a table
    # @param table_name name of cloud table
    # @param app_id id of app
    # @param body master key and app id
    # @param [Hash] opts the optional parameters
    # @return [CloudTable]
    def get(table_name, app_id, body, opts = {})
      data, status_code, headers = get_with_http_info(table_name, app_id, body, opts)
      return data
    end

    # 
    # get a table
    # @param table_name name of cloud table
    # @param app_id id of app
    # @param body master key and app id
    # @param [Hash] opts the optional parameters
    # @return [Array<(CloudTable, Fixnum, Hash)>] CloudTable data, response status code and response headers
    def get_with_http_info(table_name, app_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CloudTableApi#get ..."
      end
      
      # verify the required parameter 'table_name' is set
      fail "Missing the required parameter 'table_name' when calling get" if table_name.nil?
      
      # verify the required parameter 'app_id' is set
      fail "Missing the required parameter 'app_id' when calling get" if app_id.nil?
      
      # verify the required parameter 'body' is set
      fail "Missing the required parameter 'body' when calling get" if body.nil?
      
      # resource path
      local_var_path = "app/{app_id}/{table_name}".sub('{format}','json').sub('{' + 'table_name' + '}', table_name.to_s).sub('{' + 'app_id' + '}', app_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      _header_accept = ['application/json']
      _header_accept_result = @api_client.select_header_accept(_header_accept) and header_params['Accept'] = _header_accept_result

      # HTTP header 'Content-Type'
      _header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CloudTable')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudTableApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # get all tables in app
    # @param app_id app id
    # @param body master key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_all(app_id, body, opts = {})
      get_all_with_http_info(app_id, body, opts)
      return nil
    end

    # 
    # get all tables in app
    # @param app_id app id
    # @param body master key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_all_with_http_info(app_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CloudTableApi#get_all ..."
      end
      
      # verify the required parameter 'app_id' is set
      fail "Missing the required parameter 'app_id' when calling get_all" if app_id.nil?
      
      # verify the required parameter 'body' is set
      fail "Missing the required parameter 'body' when calling get_all" if body.nil?
      
      # resource path
      local_var_path = "/app/{app_id}/_getAll".sub('{format}','json').sub('{' + 'app_id' + '}', app_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      _header_accept = ['application/json']
      _header_accept_result = @api_client.select_header_accept(_header_accept) and header_params['Accept'] = _header_accept_result

      # HTTP header 'Content-Type'
      _header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudTableApi#get_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # save a cloud table
    # @param table_name name of cloud table
    # @param app_id cloud app id
    # @param body master key and app id
    # @param [Hash] opts the optional parameters
    # @return [CloudTable]
    def save(table_name, app_id, body, opts = {})
      data, status_code, headers = save_with_http_info(table_name, app_id, body, opts)
      return data
    end

    # 
    # save a cloud table
    # @param table_name name of cloud table
    # @param app_id cloud app id
    # @param body master key and app id
    # @param [Hash] opts the optional parameters
    # @return [Array<(CloudTable, Fixnum, Hash)>] CloudTable data, response status code and response headers
    def save_with_http_info(table_name, app_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CloudTableApi#save ..."
      end
      
      # verify the required parameter 'table_name' is set
      fail "Missing the required parameter 'table_name' when calling save" if table_name.nil?
      
      # verify the required parameter 'app_id' is set
      fail "Missing the required parameter 'app_id' when calling save" if app_id.nil?
      
      # verify the required parameter 'body' is set
      fail "Missing the required parameter 'body' when calling save" if body.nil?
      
      # resource path
      local_var_path = "app/{app_id}/{table_name}".sub('{format}','json').sub('{' + 'table_name' + '}', table_name.to_s).sub('{' + 'app_id' + '}', app_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      _header_accept = ['application/json']
      _header_accept_result = @api_client.select_header_accept(_header_accept) and header_params['Accept'] = _header_accept_result

      # HTTP header 'Content-Type'
      _header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CloudTable')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudTableApi#save\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
