{
    "swagger": "2.0",
    "info":{
        "version": "1.0.0",
        "title": "CloudBoost Application API",
        "description": "Power your web or mobile application backend with cloudboost Database Service",
        "termsOfService": "https://cloudboost.io",
        "contact": {
            "name": "Benedict Egima",
            "email": "ben@cloudboost.io",
            "url": "https://cloudboost.io"
        },
        "license": {
            "name": "MIT",
            "url": "http://opensource.org/licenses/MIT"
        }
    },
    "schemes": ["https"],
    "host": "api.cloudboost.io",
    "basePath": "/",
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "paths": {
                "/data/{app_id}/{table_name}/search": {
            "post": {
                "tags": ["CloudSearch"],
                "summary": "search for cloudobjects following the criteria defined herein",
                "description": "",
                "operationId": "search",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "app_id",
                    "in": "path",
                    "description": "CloudApp id",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "table_name",
                    "in": "path",
                    "description": "cloud table name",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "body",
                    "description": "query body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/searchBody"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "cloud search response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/saveObjectResponse"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                },
                "x-amples": [{
                    "description": "should sort searched elements in ascending order",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": [{
                                "age": {
                                    "order": "asc"
                                }
                            }],
                            "query": {
                                "filtered": {
                                    "query": {
                                        
                                    },
                                    "filter": {
                                        "bool": {
                                            "must_not": [],
                                            "should": [],
                                            "must": [{
                                                "exists": {
                                                    "field": "age"
                                                }
                                            }]
                                        }
                                    }
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg==",
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                            "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/saveObjectResponse"
                            }
                        }
                    }
                },
                {
                    "description": "should sort searched elements in descending order",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": [{
                                "age": {
                                    "order": "desc"
                                }
                            }],
                            "query": {
                                "filtered": {
                                    "query": {
                                        
                                    },
                                    "filter": {
                                        
                                    }
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg==",
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should search for elements where a certain column exists",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": [],
                            "query": {
                                "filtered": {
                                    "query": {
                                        
                                    },
                                    "filter": {
                                        "bool": {
                                            "must_not": [],
                                            "should": [],
                                            "must": [{
                                                "exists": {
                                                    "field": "name"
                                                }
                                            }]
                                        }
                                    }
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg==",
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should search for records where a certain column has given range",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": [],
                            "query": {
                                "filtered": {
                                    "query": {
                                        
                                    },
                                    "filter": {
                                        "bool": {
                                            "must_not": [],
                                            "should": [],
                                            "must": [{
                                                "range": {
                                                    "age": {
                                                        "gt": 19
                                                    }
                                                }
                                            },
                                            {
                                                "range": {
                                                    "age": {
                                                        "lt": 50
                                                    }
                                                }
                                            }]
                                        }
                                    }
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg==",
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should search for records where a certain column does not exist",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": [],
                            "query": {
                                "filtered": {
                                    "query": {
                                        
                                    },
                                    "filter": {
                                        "bool": {
                                            "must_not": [],
                                            "should": [],
                                            "must": [{
                                                "missing": {
                                                    "field": "name"
                                                }
                                            }]
                                        }
                                    }
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg==",
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should search and sort numbers in ascending order",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": [],
                            "query": {
                                "filtered": {
                                    "query": {
                                        
                                    },
                                    "filter": {
                                        "bool": {
                                            "must_not": [{
                                                "term": {
                                                    "age": 19
                                                }
                                            }],
                                            "should": [],
                                            "must": []
                                        }
                                    }
                                }
                            },
                            "skip": 9999999,
                            "key": "mLiJB380x9fhPRCjCGmGRg==",
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should search records for particular column value",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": [],
                            "query": {
                                "filtered": {
                                    "query": {
                                        
                                    },
                                    "filter": {
                                        "bool": {
                                            "must_not": [],
                                            "should": [],
                                            "must": [{
                                                "term": {
                                                    "age": 19
                                                }
                                            }]
                                        }
                                    }
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg==",
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should search and skip records",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": [],
                            "query": {
                                "filtered": {
                                    "query": {
                                        
                                    },
                                    "filter": {
                                        "bool": {
                                            "must_not": [{
                                                "term": {
                                                    "age": 19
                                                }
                                            }],
                                            "should": [],
                                            "must": []
                                        }
                                    }
                                }
                            },
                            "skip": 9999999,
                            "key": "mLiJB380x9fhPRCjCGmGRg==",
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should search with phrase",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": [],
                            "query": {
                                "filtered": {
                                    "query": {
                                        "bool": {
                                            "must_not": [],
                                            "should": [{
                                                "match": {
                                                    "name": {
                                                        "query": "Ravi Teja",
                                                        "slop": null,
                                                        "type": "phrase"
                                                    }
                                                }
                                            }],
                                            "must": []
                                        }
                                    },
                                    "filter": {
                                        
                                    }
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg==",
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should search with wildcard",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": [],
                            "query": {
                                "filtered": {
                                    "query": {
                                        "bool": {
                                            "must_not": [],
                                            "should": [{
                                                "wildcard": {
                                                    "name": {
                                                        "value": "R*"
                                                    }
                                                }
                                            }],
                                            "must": []
                                        }
                                    },
                                    "filter": {
                                        
                                    }
                                }
                            },
                            "skip": 0,
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should search with starts with",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": [],
                            "query": {
                                "filtered": {
                                    "query": {
                                        "bool": {
                                            "must_not": [],
                                            "should": [],
                                            "must": [{
                                                "prefix": {
                                                    "name": {
                                                        "value": "R"
                                                    }
                                                }
                                            }]
                                        }
                                    },
                                    "filter": {
                                        
                                    }
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg==",
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should search with most column",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": [],
                            "query": {
                                "filtered": {
                                    "query": {
                                        "bool": {
                                            "must_not": [],
                                            "should": [{
                                                "multi_match": {
                                                    "query": "R",
                                                    "type": "most_fields",
                                                    "fields": ["name",
                                                    "descrition"]
                                                }
                                            }],
                                            "must": []
                                        }
                                    },
                                    "filter": {
                                        
                                    }
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg==",
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should search with best column",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": [],
                            "query": {
                                "filtered": {
                                    "query": {
                                        "bool": {
                                            "must_not": [],
                                            "should": [{
                                                "multi_match": {
                                                    "query": "R",
                                                    "type": "best_fields",
                                                    "fields": ["name",
                                                    "descrition"]
                                                }
                                            }],
                                            "must": []
                                        }
                                    },
                                    "filter": {
                                        
                                    }
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg==",
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should search with notequal to",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": [],
                            "query": {
                                "filtered": {
                                    "query": {
                                        
                                    },
                                    "filter": {
                                        "bool": {
                                            "must_not": [],
                                            "should": [],
                                            "must": [{
                                                "term": {
                                                    "age": 19
                                                }
                                            }]
                                        }
                                    }
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg==",
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should limit number of searched items",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 0,
                            "sort": [],
                            "query": {
                                "filtered": {
                                    "query": {
                                        
                                    },
                                    "filter": {
                                        "bool": {
                                            "must_not": [{
                                                "term": {
                                                    "age": 19
                                                }
                                            }],
                                            "should": [],
                                            "must": []
                                        }
                                    }
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg==",
                            "collectionName": "Student"
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                }]
            }
        },
                "/data/{app_id}/{table_name}/findOne": {
            "post": {
                "tags": ["CloudQuery"],
                "summary": "find a single CloudObject",
                "description": "",
                "operationId": "findOne",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "app_id",
                    "in": "path",
                    "description": "CloudApp id",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "table_name",
                    "in": "path",
                    "description": "cloud table name",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "body",
                    "description": "query body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/queryFindOne"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "cloudsave response",
                        "schema": {
                            "$ref": "#/definitions/saveObjectResponse"
                        }
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                },
                "x-amples": [{
                    "description": "query find one",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "name": "sample"
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "DATA_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "query should limit number of data items to 1",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": []
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "DATA_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                }]
            }
        },
                "/data/{cloud_app_id}/{table_name}/find": {
            "post": {
                "tags": ["CloudQuery"],
                "summary": "find CloudObject with specific _id",
                "description": "",
                "operationId": "findById",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "cloud_app_id",
                    "in": "path",
                    "description": "CloudApp id",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "table_name",
                    "in": "path",
                    "description": "cloud table name",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "body",
                    "description": "query body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/queryFindById"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "cloudsave response",
                        "schema": {
                            "$ref": "#/definitions/saveObjectResponse"
                        }
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                },
                "x-amples": [{
                    "description": "should query with data near function",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "location": "{ '$geometry': {coordinates:[80.3,17.7] , type:'Point' }, '$maxDistance': 100000.0, '$minDistance': 0.0}"
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "Student"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should query with not null column",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "name": {
                                    "$exists": true
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_0"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should query for null column",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "name": {
                                    "$exists": false
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "DATA_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "query select column works on find",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                "updatedAt": 1,
                                "_type": 1,
                                "_id": 1,
                                "createdAt": 1,
                                "name": 1,
                                "_tableName": 1,
                                "ACL": 1
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "_id": "aljsf"
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "query data with a particular value",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "name": "vipul"
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "DATA_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "query records with column equal to null",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "name": {
                                    "$exists": false
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_5"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "query records with column NOTequal to null",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "name": {
                                    "$exists": true
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_5"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "query with notcontained in",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "subjects": {
                                    "$nin": ["java",
                                    "python"]
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "DATA_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "query with containsAll in",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "subjects": {
                                    "$all": ["java",
                                    "python"]
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "DATA_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "query with starts with",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "name": {
                                    "$options": "im",
                                    "$regex": "^v"
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "DATA_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should query with greater than",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "age": {
                                    "$gt": 10
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_10"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should query with greater than OR equal to",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "age": {
                                    "$gte": 10
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_10"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should query with less than",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "age": {
                                    "$lt": 20
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_10"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should query with less than or equal to",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "age": {
                                    "$lte": 15
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_10"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should query and sort in ascending order",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                "age": 1
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": []
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_10"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should query and sort in descending order",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                "age": -1
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": []
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_10"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should query with exists",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "age": {
                                    "$exists": true
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_10"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should query with notexists",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "age": {
                                    "$exists": false
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_10"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should query encrypted password over or",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "username": "egima",
                                "$include": [],
                                "$or": [{
                                    "$includeList": [],
                                    "$include": [],
                                    "password": "password"
                                },
                                {
                                    "$includeList": [],
                                    "$include": [],
                                    "password": "password1"
                                }]
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "User"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should query encrypted password",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "username": "egima",
                                "$include": [],
                                "password": "password"
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "User"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "query should not retrieve data with particular value",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "name": {
                                    "$ne": "vipul"
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_2"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "query should limit number of data items",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 5,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": []
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "DATA_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "query should get records without given column name",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "age": {
                                    "$exists": false
                                }
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "DATA_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should query over boolean type",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "boolfield": false
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "DATA_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                }]
            }
        },
                "/data/{app_id}/{table_name}/find": {
            "post": {
                "tags": ["CloudQuery"],
                "summary": "find CloudObject meeting this query criteria",
                "description": "",
                "operationId": "find",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "app_id",
                    "in": "path",
                    "description": "CloudApp id",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "table_name",
                    "in": "path",
                    "description": "cloud table name",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "body",
                    "description": "query object",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/queryMaster"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "cloudsave response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/saveObjectResponse"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                },
                "x-amples": [{
                    "description": "should fetch cloudobject",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 1,
                            "sort": {
                                
                            },
                            "select": {
                                
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "_id": "uCS9ke2s"
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_18"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                }]
            }
        },
                "/data/{app_id}/{table_name}/distinct": {
            "post": {
                "tags": ["CloudQuery"],
                "summary": "distinct query criteria",
                "description": "",
                "operationId": "distinct",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "app_id",
                    "in": "path",
                    "description": "CloudApp id",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "table_name",
                    "in": "path",
                    "description": "cloud table name",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "body",
                    "description": "query body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/queryDistinct"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "cloudsave response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/saveObjectResponse"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                },
                "x-amples": [{
                    "description": "query select column works on distinct",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "onKey": ["id"],
                            "select": {
                                "updatedAt": 1,
                                "_type": 1,
                                "_id": 1,
                                "createdAt": 1,
                                "name": 1,
                                "_tableName": 1,
                                "ACL": 1
                            },
                            "query": {
                                "$includeList": [],
                                "$include": [],
                                "_id": "ilW9qiA1"
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "cloud_app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                }]
            }
        },
                "/data/{app_id}/{table_name}/count": {
            "post": {
                "tags": ["CloudQuery"],
                "summary": "count items in a table that match this query criteria",
                "description": "count items in a table that match this query criteria",
                "operationId": "count",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "app_id",
                    "in": "path",
                    "description": "CloudApp id",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "table_name",
                    "in": "path",
                    "description": "cloud table name",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "body",
                    "description": "query body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/queryCount"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "cloudsave response",
                        "schema": {
                            "$ref": "#/definitions/saveObjectResponse"
                        }
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                },
                "x-amples": [{
                    "description": "should query count as integer",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "limit": 10,
                            "query": {
                                "$includeList": [],
                                "$include": []
                            },
                            "skip": 0,
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "User"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                }]
            }
        },        "/data/{app_id}/{table_name}": {
            "put": {
                "tags": ["CloudObject"],
                "summary": "saves a cloud object to cloudboost",
               "description":"",
               "operationId": "save",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "app_id",
                    "in": "path",
                    "description": "CloudApp id",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "table_name",
                    "in": "path",
                    "description": "cloud table name",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "body",
                    "description": "CloudObject that needs to be added to cloudboost",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/body"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "cloudsave response"
                    },
                    "default": {
                        "description": "unexpected error"
                    }
                },
                "x-amples": [{
                    "description": "should save a cloudobject",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "document": {
                                "_type": "custom",
                                "expires": null,
                                "name": "samplexyz",
                                "_modifiedColumns": ["createdAt",
                                "updatedAt",
                                "ACL",
                                "expires",
                                "name"],
                                "_tableName": "NOTIFICATION_QUERY_0",
                                "ACL": {
                                    "write": {
                                        "allow": {
                                            "role": [],
                                            "user": ["all"]
                                        },
                                        "deny": {
                                            "role": [],
                                            "user": []
                                        }
                                    },
                                    "read": {
                                        "allow": {
                                            "role": [],
                                            "user": ["all"]
                                        },
                                        "deny": {
                                            "role": [],
                                            "user": []
                                        }
                                    }
                                },
                                "_isModified": true
                            },
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "NOTIFICATION_QUERY_0"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should save an array",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "document": {
                                "_type": "custom",
                                "expires": null,
                                "name": "sample",
                                "stringArray": ["dvmzjult",
                                "dvmzjult"],
                                "_modifiedColumns": ["createdAt",
                                "updatedAt",
                                "ACL",
                                "expires",
                                "name",
                                "stringArray"],
                                "_tableName": "DATA_1",
                                "ACL": {
                                    "write": {
                                        "allow": {
                                            "role": [],
                                            "user": ["all"]
                                        },
                                        "deny": {
                                            "role": [],
                                            "user": []
                                        }
                                    },
                                    "read": {
                                        "allow": {
                                            "role": [],
                                            "user": ["all"]
                                        },
                                        "deny": {
                                            "role": [],
                                            "user": []
                                        }
                                    }
                                },
                                "_isModified": true
                            },
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "DATA_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should save an array with json object",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "document": {
                                "_type": "custom",
                                "expires": null,
                                "name": "sample",
                                "_modifiedColumns": ["createdAt",
                                "updatedAt",
                                "ACL",
                                "expires",
                                "name",
                                "objectArray"],
                                "_tableName": "DATA_1",
                                "objectArray": [{
                                    "sample": "sample"
                                },
                                {
                                    "sample": "sample"
                                }],
                                "ACL": {
                                    "write": {
                                        "allow": {
                                            "role": [],
                                            "user": ["all"]
                                        },
                                        "deny": {
                                            "role": [],
                                            "user": []
                                        }
                                    },
                                    "read": {
                                        "allow": {
                                            "role": [],
                                            "user": ["all"]
                                        },
                                        "deny": {
                                            "role": [],
                                            "user": []
                                        }
                                    }
                                },
                                "_isModified": true
                            },
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "DATA_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should save relation with version",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "document": {
                                "_type": "custom",
                                "sameRelation": {
                                    "_type": "custom",
                                    "expires": null,
                                    "name": "sample",
                                    "_modifiedColumns": ["createdAt",
                                    "updatedAt",
                                    "ACL",
                                    "expires",
                                    "name"],
                                    "_tableName": "DATA_1",
                                    "ACL": {
                                        "write": {
                                            "allow": {
                                                "role": [],
                                                "user": ["all"]
                                            },
                                            "deny": {
                                                "role": [],
                                                "user": []
                                            }
                                        },
                                        "read": {
                                            "allow": {
                                                "role": [],
                                                "user": ["all"]
                                            },
                                            "deny": {
                                                "role": [],
                                                "user": []
                                            }
                                        }
                                    },
                                    "_isModified": true
                                },
                                "expires": null,
                                "name": "sample",
                                "_modifiedColumns": ["createdAt",
                                "updatedAt",
                                "ACL",
                                "expires",
                                "name",
                                "sameRelation"],
                                "_tableName": "DATA_1",
                                "ACL": {
                                    "write": {
                                        "allow": {
                                            "role": [],
                                            "user": ["all"]
                                        },
                                        "deny": {
                                            "role": [],
                                            "user": []
                                        }
                                    },
                                    "read": {
                                        "allow": {
                                            "role": [],
                                            "user": ["all"]
                                        },
                                        "deny": {
                                            "role": [],
                                            "user": []
                                        }
                                    }
                                },
                                "_isModified": true
                            },
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "DATA_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should save cloudobject as relation",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "document": {
                                "_type": "custom",
                                "sameRelation": {
                                    "_type": "custom",
                                    "expires": null,
                                    "name": "sample",
                                    "_modifiedColumns": ["createdAt",
                                    "updatedAt",
                                    "ACL",
                                    "expires",
                                    "name"],
                                    "_tableName": "DATA_1",
                                    "ACL": {
                                        "write": {
                                            "allow": {
                                                "role": [],
                                                "user": ["all"]
                                            },
                                            "deny": {
                                                "role": [],
                                                "user": []
                                            }
                                        },
                                        "read": {
                                            "allow": {
                                                "role": [],
                                                "user": ["all"]
                                            },
                                            "deny": {
                                                "role": [],
                                                "user": []
                                            }
                                        }
                                    },
                                    "_isModified": true
                                },
                                "expires": null,
                                "name": "sample",
                                "_modifiedColumns": ["createdAt",
                                "updatedAt",
                                "ACL",
                                "expires",
                                "name",
                                "sameRelation"],
                                "_tableName": "DATA_1",
                                "ACL": {
                                    "write": {
                                        "allow": {
                                            "role": [],
                                            "user": ["all"]
                                        },
                                        "deny": {
                                            "role": [],
                                            "user": []
                                        }
                                    },
                                    "read": {
                                        "allow": {
                                            "role": [],
                                            "user": ["all"]
                                        },
                                        "deny": {
                                            "role": [],
                                            "user": []
                                        }
                                    }
                                },
                                "_isModified": true
                            },
                            "key": "mLiJB380x9fhPRCjCGmGRg=="
                        },
                        "params": {
                            "app_id": "bengi123",
                            "table_name": "DATA_1"
                        }
                    },
                    "response": {
                        "status": 200,
                        "headers": {
                            "content-type": "application/json"
                        }
                    }
                },
                {
                    "description": "should keep relation intact",
                    "request": {
                        "headers": {
                            "content-type": "application/json"
                        },
                        "body": {
                            "document": {
                                "_type": "custom",
                                "newColumn7": {
                                    "_type": "custom",
                                    "expires": null,
                                    "_modifiedColumns": ["createdAt",
                                    "updatedAt",
                                    "ACL",
                                    "expires"],
                                    "_tableName": "NOTIFICATION_QUERY_10",
                                    "ACL": {
                                        "write": {
                                            "allow": {
                                                "role": [],
                                                "user": ["all"]
                                            },
                                            "deny": {
                                                "role": [],
                                                "user": []
                                            }
                                        },
                                        "read": {
                                            "allow": {
                                                "role": [],
                                                "user": ["all"]
                                            },
                                            "deny": {
                                                "role": [],
                                                "user": []
                                            }
                                        }
                                    },
                                    "_isModified": true
                                },
                                "expires": null,
                                "_modifiedColumns": ["createdAt",
                                "updatedAt",
                                "ACL",
                                "expires",
                                "newColumn2",
[...]
